/*		About section 		*/

.about{
	padding: 100px 0;
}

.about .iphone{
	max-width: 339px;
	position: relative;
	display: inline-block;
	text-align: center;
}

.about .iphone img{
	width: 100%;
	height: auto;
}

.about .features_list{
	margin-left: 50px;
}

.about .features_list h1{
	color: #525151;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	line-height: 46px;
	margin: 0 0 20px 0;
	word-break: break-word;
}

.about .features_list p{
	color: #767272;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 45px;
	line-height: 32px;
}

.about .features_list ul{
	margin-bottom: 30px;
}

.about .features_list ul li{
	display: block;
	position: relative;
	color: #6c6c6c;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 44px;
	text-indent: 25px;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

.about .features_list ul li.camera_icon{
	background: url('../img/icon1.png') no-repeat;
	background-position: 0 15px;
}

.about .features_list ul li.video_icon{
	background: url('../img/icon2.png') no-repeat;
	background-position: 0 15px;
}

.about .features_list ul li.eye_icon{
	background: url('../img/icon3.png') no-repeat;
	background-position: 0 14px;
}

.about .features_list ul li.pic_icon{
	background: url('../img/icon4.png') no-repeat;
	background-position: 0 14px;
}

.about .features_list ul li.loc_icon{
	background: url('../img/icon5.png') no-repeat;
	background-position: 3px 13px;
}

.about .features_list ul li span{
	display: inline-block;
}



