/*		Featured on section 		*/

.featured_on{
	width: 100%;
	padding: 25px 0;
	background: #f3f3f3;
}

.featured_on ul{
	margin: 0;
}

.featured_on li{
	position: relative;
	height: 100%;
}

.featured_on li:first-child{
	margin-left: 0;
}


