/*		Header 		*/

header{
	position: relative;
	display: block;
	width: 100%;
	height: 130px;
	z-index: 99;
	background-color: #41c17d;
	background-image: -moz-linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -o-linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -webkit-linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
}

header {
  position: relative;
  height: 150px;
  background-image: linear-gradient(#23a94c00, #248888);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 4vw)
  );
  /* change the calc height to a percentage height to get alternate responsive behavior*/
}

header .logo{
	display: table-cell;
	margin: 45px 100px 0 0;
}

header .logo img{
	width: 200px;
	border-radius: 5px 20px 5px;
	box-shadow: 0 8px 6px -6px black;
}

header .burger_icon{
	display: none;
	float: right;
	background: #ffffff;
	padding: 5px 10px;
	text-transform: uppercase;

	color: #43b779;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	margin: 45px 10px 0 0;
}

header .burger_icon:hover{
	cursor: pointer;
}

header .burger_icon.active{
	background: #359663;
	color: #ffffff;
}

header nav{
	margin-top: 50px;
	display: table-cell;
}

header nav li{
	float: left;
	margin-left: 40px;
}

header nav li:first-child{
	margin: 0;
}

header nav li a{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

header nav li a:hover,
header nav li a:focus{
	text-decoration: none;
	color: #B7EFD1!important;
}

header .social{
	display: table-cell;
	margin-top: 45px;
}

header .social li{
	float: left;
	margin-left: 20px;
	border-radius: 5px 20px 5px;
	box-shadow: 0 8px 6px -6px black;
}

header .social li:first-child{
	margin: 0;
}


