/*		Hero section 		*/

.hero{
	display: block;
	position: relative;
	width: 100%;
	height: 560px;
	background: url('../img/hero.webp') no-repeat fixed center center;
	background-size: cover;
}

.hero .caption{
	position: absolute;
	max-width: 550px;
	margin-left: 80px;
	top: 50%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
}

.hero .caption h1{
	color: #525252;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	word-break: break-word;
}

.hero .caption p{
	color: #6d6c6c;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 15px 0 35px 0;
}

#slider .caption p{
	margin: 0;
}

a.app_store_btn{
	display: inline-block;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #525252;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 20px 20px 10px 0;

	color: #525252;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.play_icon,
.android_icon,
.iphone_icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 3px;
}

.play_icon{
	background: url('../img/play.png') no-repeat;
}

.iphone_icon{
	background: url('../img/iphone_app.png') no-repeat;
}

.android_icon{
	background: url('../img/android_app.png') no-repeat;
}


a.app_store_btn:hover,
a.app_store_btn:focus{
	border-color: #41c27d;
	color: #41c27d!important;
}

a.app_store_btn:hover .play_icon{
	background: url('../img/play_hover.png') no-repeat;
}

a.app_store_btn:hover .iphone_icon{
	background: url('../img/iphone_app_hover.png') no-repeat;
}

a.app_store_btn:hover .android_icon{
	background: url('../img/android_app_hover.png') no-repeat;
}

a.app_link{
	text-transform: lowercase;
	letter-spacing: .5px;
	color: #636363;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

a.app_link:hover,
a.app_link:focus{
	text-decoration: none;
	color: #41c27d!important;
}

a.app_store_btn,
.play_icon,
.iphone_icon,
.android_icon,
a.app_link{
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}


.about_video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.about_video iframe{
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.close_video{
    text-decoration: none;
    position: absolute;
    width: 38px;
    height: 38px;
    top: 50px;
    right: 50px;
    background: url('../img/close_video.png') no-repeat;
    z-index: 9999;
}

.enhance {
  color: white;
  text-transform: uppercase;
  padding: 4px;
  font-size: 1.4em;
  font-weight: bolder;
}



