
/*		Subscription section 		*/

.sub_box{
	width: 100%;
	padding: 100px 0;
	text-align: center;
	background-image: -moz-linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -o-linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -webkit-linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
}

.sub_box .cta_text{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 50px;
}

.sub_box #mc-email{
	display: inline-block;
	width: 300px;
	height: 50px;
	padding: 0 20px;
	background-color: #fff;
	border: 0;
	outline: none;
	margin-right: -4px;
	color: #41c17d;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	vertical-align: middle;

	border-top-left-radius: 2px;
	-o-border-top-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;

	border-bottom-left-radius: 2px;
	-o-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;


}

.sub_box #mc_submit{
	display: inline-block;
	width: 60px;
	height: 50px;

	border-top-right-radius: 2px;
	-o-border-top-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	-webkit-border-top-right-radius: 2px;

	border-bottom-right-radius: 2px;
	-o-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;

	background-color: #fff;
	border: 0;
	outline: none;
	margin-right: -4px;
	text-align: center;
	vertical-align: middle;
}

.sub_box #mc_submit i{
	display: inline-block;
	width: 20px;
	height: 14px;
	vertical-align: middle;
}

#mc_submit i.icon{
	background: url('../img/sub_icon.png') no-repeat;
}

#mc_submit i.loading{
	background: url('../img/loading.gif') no-repeat;
}

.sub_box .message{
	display: block;
	text-align: center;
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-transform: lowercase;
	margin-top: 20px;
}

.sub_box #error_msg,
.sub_box #success_msg{
	display: none;
}



