

/*		Testimonials section 		*/

.testimonials{
	padding: 100px 0;
}

.testimonials .testimonials_list{
	max-width: 820px;
	margin: 0 auto;
}

.testimonials .testimonials_list blockquote{
	border: 0;
	padding: 0;
	margin: 0;
}

.testimonials .testimonials_list blockquote p{
	color: #757171;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 50px;
	line-height: 36px;
}

.testimonials .testimonials_list blockquote footer:before,
.testimonials .testimonials_list blockquote footer:after{
	content: none;
}

.testimonials .testimonials_list blockquote .author,
.testimonials .testimonials_list blockquote .job{
	display: block;
}

.testimonials .testimonials_list blockquote .author{
	color: #4b4848;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
}

.testimonials .testimonials_list blockquote .job{
	color: #6e6d6d;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#tslider{
	text-align: center!important;
	position: relative!important;
}

#tslider .owl-controls{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 40px;
	padding: 0;
}

#tslider .owl-controls .owl-prev,
#tslider .owl-controls .owl-next{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url('../img/nav_arrow.png') no-repeat;
	text-indent: -200px;
	overflow: hidden;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

#tslider .owl-controls .owl-prev{
	background-position: 0 0;
}
#tslider .owl-controls .owl-next{
	background-position: -33px 0;
	margin-left: 40px;
}

#tslider .owl-controls .owl-prev:hover,
#tslider .owl-controls .owl-next:hover{
	cursor: pointer;
	background: url('../img/nav_arrow_hover.png') no-repeat;
}

#tslider .owl-controls .owl-prev:hover{
	background-position: 0 0;
}
#tslider .owl-controls .owl-next:hover{
	background-position: -33px 0;
}




